.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.map-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.map-box {
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.route-input {
  width: 250px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.route-button, .find-location-button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.route-button {
  background-color: #28a745; /* Green color */
}

.find-location-button {
  background-color: #007bff; /* Blue color */
}

.route-button:hover {
  background-color: #218838;
}

.find-location-button:hover {
  background-color: #0056b3;
}

/* Position Find My Location button at the top left */
.find-location-button {
  position: absolute;
  top: 10px;
  left: 10px;
}
